<h1>This is the appointment's index page.</h1>
<% if @appointments.empty? %>
    <p>soz no appointments, go <a href="/appointments/new">here</a> to book one</p>
<% else %>

<% @appointments.each do |appt| %>
    <h1>hi</h1>
<% end %>

<% end %>