<h1><%= @power.name %> is actually <%= @power.description %></h1>
<% @power.heroines.each do |heroine| %>
    <%= link_to heroine.name, heroine %>
<% end %>
<%= link_to 'edit this', edit_power_path(@power) %>